<!doctype html>
<html lang="en" data-theme="dark">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Express</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

    <article>
        <h2>Add quiz</h2>
        <form action="/createQuiz" method="post">
            <label for="category">
                Category
                <input id="category" name="category" type="text" required>
            </label>

            <details id="q1">
                <summary role="button" class="outline">Question 1</summary>
                <label for="question">
                    Question
                    <input id="question" name="question" type="text" required>
                </label>

                <label for="answer">
                    Answers (check of correct answer)
                </label>

                <div class="grid">
                    <div class="answer">
                        <input type="checkbox" id="correct" name="correct">
                        <input id="q1answer1" name="q1answer1" type="text" required>
                    </div>
                    <div class="answer">
                        <input type="checkbox" id="correct" name="correct">
                        <input id="q1answer2" name="q1answer2" type="text" required>
                    </div>
                </div>
                <div class="grid">
                    <div class="answer">
                        <input type="checkbox" id="correct" name="correct">
                        <input id="q1answer3" name="q1answer3" type="text" required>
                    </div>
                    <div class="answer">
                        <input type="checkbox" id="correct" name="correct">
                        <input id="q1answer4" name="q1answer4" type="text" required>
                    </div>
                </div>
            </details>
            <details id="q2">
                <summary role="button" class="outline">Question 2</summary>
                <label for="question">
                    Question
                    <input id="question" name="question" type="text" required>
                </label>

                <label for="answer">
                    Answers (check of correct answer)
                </label>

                <div class="grid">
                    <div class="answer">
                        <input type="checkbox" id="correct" name="correct">
                        <input id="q2answer1" name="q2answer1" type="text" required>
                    </div>
                    <div class="answer">
                        <input type="checkbox" id="correct" name="correct">
                        <input id="q2answer2" name="q2answer2" type="text" required>
                    </div>
                </div>
                <div class="grid">
                    <div class="answer">
                        <input type="checkbox" id="correct" name="correct">
                        <input id="q2answer3" name="q2answer3" type="text" required>
                    </div>
                    <div class="answer">
                        <input type="checkbox" id="correct" name="correct">
                        <input id="q2answer4" name="q2answer4" type="text" required>
                    </div>
                </div>
            </details>

            <input type="submit" placeholder="Create Quiz"/>
        </form>

    </article>

</body>
</html>