<!doctype html>
<html lang="en" data-theme="dark">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Express</title>
  <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <% include nav.ejs %>


  <h2>Quiz</h2>
  <article class="grid">
    <form>
      <% for (var i=0; i < QuizArray.length; i++) { %>
        <a role="button" href="/quiz/<%= i+1 %>"><%= QuizArray[i].category %></a>
        <% } %>
    </form>
  </article>
</body>

</html>