<nav>
    <ul>
        <li><strong>Something.</strong></li>
    </ul>
    <ul>
        <li><a href="/">Quizzes</a></li>
        <li>
            <details role="list" dir="rtl">
                <summary aria-haspopup="listbox" role="link" >
                    <img src="/images/dog.png" alt="user avatar"/>
                </summary>
                <ul role="listbox">
                    <li><a href="/addquiz">Add quiz</a></li>
                    <li><a href="/stats">Statistics</a></li>
                    <li><a href="/user">User settings</a></li>
                    <li>
                        <form action="/logout" method="post"><button type="submit">Logout</button></form>
                    </li>
                </ul>
            </details>
        </li>
    </ul>
</nav>