<!doctype html>
<html lang="en" data-theme="dark">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Express</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

<body>
    <% include nav.ejs %>

  <h2> <%= theQuiz.category %></h2>
  <article>
    <form>
        <% for (var i = 0; i < theQuiz.questions.length; i++) { %>
            <div style="margin-bottom: 2rem; margin-top: 2rem;">
              <h2><%= theQuiz.questions[i].questionName %></h2>
              
              <% for (let j = 0; j < theQuiz.questions[i].answerArray.length; j++){ %>

                <label for="radio-<% [j] %>">
                    <input type="checkbox" id="radio-<% [j] %>" name="radio" value="radio-<% [j] %>">
                    <%= theQuiz.questions[i].answerArray[j].answer %>
                  </label>
                <% }%>
    
            </div>
          <% } %>
      
      <button type="submit">Check answers</button>
    </form>
  </article>
</body>
</html>